[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langgraph = "*"
langchain-groq = "*"
langchain-openai = "*"
python-dotenv = "*"
langgraph-cli = "*"
langchain-community = "*"
chromadb = "*"

[dev-packages]

[requires]
python_version = "3.12"
