[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "<2,>=1.24"
faiss-cpu = "*"
ollama = "*"
langchain-community = "*"
langchain-ollama = "*"

[dev-packages]

[requires]
python_version = "3.10"
